<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
{% load staticfiles %}

<html>
<head>
<title>Weather-project</title>
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!--google fonts-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	{% block content %}
	{% endblock %}
</body>
</html>