<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
<title>Simple Weather Widget  Responsive Widget Template | Home :: w3layouts</title>
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Simple Weather Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--google fonts-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>Simple Weather Widget</h1>

	<div class="header">
		<div class="header-top">
			<h2><img class="whe" src="images/sun.png" alt="" />Weather</h2>
			<ul>
				<li><p>°F</p></li>
				<li><p class="cen">°C</p></li>
			</ul>
			<div class="clear"> </div>
		</div>
		<div class="header-bottom">
			<div class="header-bottom1">
				<div class="header-head">
				<h4>Cloudy</h4>
				<img src="images/cloudy.png" alt="" />
				<h6>20°</h6>
				<div class="bottom-head">
					<p>August 16</p>
					<p>Monday</p>
				</div>
			</div>
			</div>
			<div class="header-bottom1 header-bottom2">
				<div class="header-head">
			<h4>Sunny</h4>
			<img src="images/sunn.png" alt="" />
			<h6>37°</h6>
			<div class="bottom-head">
					<p>August 17</p>
					<p>Tuesday</p>
				</div>
			</div>
			</div>
			<div class="header-bottom1">
				<div class="header-head">
				<h4>Rainy</h4>
				<img src="images/rain.png" alt="" />
				<h6>7°</h6>
				<div class="bottom-head">
					<p>August 18</p>
					<p>Wednesday</p>
				</div>
			</div>
			</div>
			<div class="header-bottom1 header-bottom2">
				<div class="header-head">
			<h4>Snowy</h4>
			<img src="images/rain.png" alt="" />
			<h6>-10°</h6>
			<div class="bottom-head">
					<p>August 16</p>
					<p>Thursday</p>
				</div>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
<div class="copy-right">
			<p>© 2015 Simple Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>

</body>
</html>