{% extends 'main/base.html' %}
{% block content %}
	<h1>
		{% for city in cityname %}
			{{ city }}
		{% endfor %}
	</h1>
	<h2>
		{% load googlecharts %}
		<div id="out"></div>
		{% googlecharts %}
    	{% data values "out_data" %}
			{% col "string" "Name" %}"{{ val }}"{% endcol %}
        	{% col "number" "Temperature" %}{{ val }}{% endcol %}
    	{% enddata %}

    	{% options "out_options" %}
        	kind: "ColumnChart",
        	options: {
				backgroundColor: '#27ae60',
            	height: 768,
				legend: {position: 'none'}
        	}
    	{% endoptions %}

    	{% graph "out" "out_data" "out_options" %}
		{% endgooglecharts %}
	</h2>

	<form method="POST">{% csrf_token %}
        {{ form1.as_p }}
		<button type="submit" class="save btn btn-default">Change City</button>
    </form>

	<div id="add">
		<a href="{% url 'add_city' %}">Add your city</a>
	</div>
	<footer>Weather-project</footer>

</body>
{% endblock content %}
